In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
customers=pd.read_csv("customers.csv")

In [21]:
customers.head(20)
customers.shape

(777, 10)

In [5]:
customers.dtypes

Customer ID        int64
Name              object
Email             object
Phone Number      object
Street Address    object
City              object
State             object
Zip Code           int64
Sales Rep         object
Subscription      object
dtype: object

In [6]:
customers.isnull().any()

Customer ID       False
Name              False
Email             False
Phone Number       True
Street Address     True
City              False
State             False
Zip Code          False
Sales Rep         False
Subscription      False
dtype: bool

In [7]:
customers.isnull().sum()

Customer ID       0
Name              0
Email             0
Phone Number      2
Street Address    2
City              0
State             0
Zip Code          0
Sales Rep         0
Subscription      0
dtype: int64

In [8]:
customers.fillna("unknown", inplace=True)
print(customers.head())

   Customer ID              Name                           Email  \
0            1  Kathryn Williams  kathrynwilliams@samplemail.com
1            2      Maxwell Meza      maxwellmeza@samplemail.com
2            3    Jamie Crawford    jamiecrawford@samplemail.com
3            4   Raven Hernandez   ravenhernandez@samplemail.com
4            5      Robert Brown      robertbrown@samplemail.com

     Phone Number               Street Address             City  \
0  (550) 269-8345             6122 Debra Court     Stewartville
1  (712) 706-8059             740 Bean Station    Lake Aprilton
2  (278) 738-1122  65114 Tracy Track Suite 604  South Sarahbury
3  (376) 539-3142       45083 Cunningham Drive        Jasonstad
4  (368) 263-0915                3965 Jay Ford          New Ann

           State  Zip Code         Sales Rep Subscription
0         Hawaii     55169  Patricia Escobar     Standard
1          Maine      9073     Thomas Murray     Standard
2   North Dakota     51657      Amber Taylor         Plus
3         Hawaii     13042    Ashley Collins     Standard
4  New Hampshire     50080   Samantha Horton         Plus

In [9]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     777 non-null    int64
 1   Name            777 non-null    object
 2   Email           777 non-null    object
 3   Phone Number    777 non-null    object
 4   Street Address  777 non-null    object
 5   City            777 non-null    object
 6   State           777 non-null    object
 7   Zip Code        777 non-null    int64
 8   Sales Rep       777 non-null    object
 9   Subscription    777 non-null    object
dtypes: int64(2), object(8)
memory usage: 60.8+ KB

In [10]:
import mysql.connector

In [11]:
from sqlalchemy import create_engine

In [12]:
conn = mysql.connector.connect( 
    host="localhost",
    user="root", 
    password="@Cabenla_13", 
    database="CUSTOMERSDB"
) 
cursor = conn.cursor()

In [13]:
engine = create_engine("mysql+mysqlconnector://root:%40Cabenla_13@localhost/CUSTOMERSDB")

In [14]:
customers.columns = ['customer_id','name','email','phone_number','street_address','city','state','zip_code','sales_rep','subscription']
try:
    customers.to_sql(
        name='customers', 
        con=engine, 
        if_exists='append', 
        index=False          
    )
    print("Data uploaded successfully without changing the table design!")
except Exception as e:
    print(f"Error: {e}")

Data uploaded successfully without changing the table design!

In [15]:
print(f"Rows to upload: {len(customers)}")
print(customers.head())

Rows to upload: 777
   customer_id              name                           email  \
0            1  Kathryn Williams  kathrynwilliams@samplemail.com
1            2      Maxwell Meza      maxwellmeza@samplemail.com
2            3    Jamie Crawford    jamiecrawford@samplemail.com
3            4   Raven Hernandez   ravenhernandez@samplemail.com
4            5      Robert Brown      robertbrown@samplemail.com

     phone_number               street_address             city  \
0  (550) 269-8345             6122 Debra Court     Stewartville
1  (712) 706-8059             740 Bean Station    Lake Aprilton
2  (278) 738-1122  65114 Tracy Track Suite 604  South Sarahbury
3  (376) 539-3142       45083 Cunningham Drive        Jasonstad
4  (368) 263-0915                3965 Jay Ford          New Ann

           state  zip_code         sales_rep subscription
0         Hawaii     55169  Patricia Escobar     Standard
1          Maine      9073     Thomas Murray     Standard
2   North Dakota     51657      Amber Taylor         Plus
3         Hawaii     13042    Ashley Collins     Standard
4  New Hampshire     50080   Samantha Horton         Plus

In [16]:
customers.to_sql(
    name='customers',
    con=engine,
    if_exists='replace',  
    index=False,
    chunksize=1000   
)

777

In [17]:
Connect to your database
# (Replace with your actual credentials)
engine = create_engine('mysql+pymysql://user:password@localhost/db_name')

# 2. Prepare your DataFrame
# IMPORTANT: Your DataFrame column names MUST match your MySQL column names exactly (case-sensitive)
# If your SQL column is 'UserID' but Python is 'user_id', it will fail.
customers.columns = ['id', 'name', 'email', 'created_at'] # Example renaming

# 3. Upload using 'append'
try:
    customers.to_sql(
        name='customers', 
        con=engine, 
        if_exists='append',  # <--- THIS IS THE KEY: It won't change your design
        index=False          # <--- Prevents Python from adding an 'index' column
    )
    print("Data uploaded successfully without changing the table design!")
except Exception as e:
    print(f"Error: {e}")

SyntaxError: invalid syntax (59772075.py, line 1)

In [ ]:
qqmajsimtozskggk

In [18]:
import smtplib
import ssl
from email.message import EmailMessage

In [19]:
msg = EmailMessage()
msg["Subject"] = "Happy Valentines Day"
msg["From"] = "clementamenlemah@gmail.com"
msg["To"] = "clementamenlemah@gmail.com"
msg.set_content("Hello Clement, please pass by our mart for your valentine's day gift.")

# 2️⃣ Connect to SMTP server
smtp_server = "smtp.gmail.com"
port = 587  # TLS port

context = ssl.create_default_context()

with smtplib.SMTP(smtp_server, port) as server:
    server.starttls(context=context)   # Secure connection
    server.login("clementamenlemah@gmail.com", "qqmajsimtozskggk")  # Login
    server.send_message(msg)  # 3️⃣ Send email

print("Email sent successfully!")

Email sent successfully!